<tr id="report_row_<%= index %>" class="report_row" data-index="<%= index %>" data-id="<%= working_report_time.id %>">
  <td><input value="" name="start" class="w100" type="time"></td>
  <td><input value="" name="end" class="w100" type="time"></td>
  <td><input value="" name="break" class="w100" type="time"></td>
  <td><div class="selectWrap w100">
    <select name="customer_id" class="select_customer">
      <%= options_for_select(working_report_time.customer_opts, working_report_time.customer_id) %>
    </select>
  </div></td>
  <td><div class="selectWrap w100">
    <select name="customer_project_id" class="select_project">
      <%= options_for_select(working_report_time.project_opts, working_report_time.customer_project_id) %>
    </select>
  </div></td>
  <td><div class="selectWrap w100">
    <select name="customer_project_work_id" class="select_work">
      <%= options_for_select(working_report_time.work_opts, working_report_time.customer_project_work_id) %>
    </select>
  </div></td>
  <td><div class="selectWrap w100">
    <select name="working_place">
      <%= options_for_select(working_report_time.place_opts, working_report_time.working_place) %>
    </select>
  </div></td>
</tr>
