  <section class="input_list">
      <div class="contents extra input fl">
        <form id="form-1" class="form" action="<%= working_report_index_path %>">
          <label>
            <input name="report_at" class="date-select" id="datepicker" type="text" value="<%= @report_at %>">
          </label>
        </form>
      </div>

      <!-- / .extra -->
      <!-- div id="form-1-submit" class="extra fl"><a  class="btn addition">表示</a></div -->
      <!-- / .extra -->
    <div class="contents">
      <form class="form">
        <table class="deco-tb fs3 m_u30" id="working_reports">
          <tr>
            <th class="w10">開始</th>
            <th class="w10">終了</th>
            <th class="w10">休憩</th>
            <th class="w20">顧客名</th>
            <th class="w20">プロジェクト</th>
            <th class="w10">作業内容</th>
            <th class="w20">作業場所</th>
          </tr>
          <!-- <tr>
            <td>10:00</td>
            <td>13:00</td>
            <td>01:00</td>
            <td>A</td>
            <td>B</td>
            <td>保守</td>
            <td>eBase Lab</td>
          </tr> -->
          <% row_count = 1; %>
          <% if @working_report_times.count == 0 %>
          <%= render 'row', { index: 1, working_report_time: WorkingReportTime.new } %>
          <% else %>
            <% row_count = 0; %>
            <% @working_report_times.each do |working_report_time| %>
              <% row_count += 1; %>
              <%= render 'row', { index: row_count, working_report_time: working_report_time } %>
            <% end %>
          <% end %>
        </table>
        <div class="clearfix">
          <div class="fl w49 m_r2">
            <h2>日報</h2>
            <textarea name="report" placeholder="" class="w100"></textarea>
          </div>
          <!-- / .w49 -->
          <div class="fl w49">
            <h2>備考</h2>
            <textarea name="remarks" placeholder="" class="w100"></textarea>
          </div>
          <!-- / .w49 -->
        </div>
        <!-- / .clearfix -->
      </form>
      <!-- / .form -->
    </div>
    <!-- / .contents -->
  </section>
  <!-- / section -->


<script>
  row_count = <%= row_count %>;

  $(function() {
    $("#datepicker").datepicker(
    {
      showOn: 'button',
      buttonImageOnly: true,
      buttonImage: '<%= asset_path 'icon-calendar.png' %>',
      dateFormat: 'yy-mm-dd',
      onSelect: function(dateText) {
        window.location.href = "<%= working_report_index_path %>/" + dateText;
      }
    });

    $('#form-1-submit').on('click', function(){

      console.log("============ test1 ");

      $('#form-1').submit();
    });
  });

</script>
