<div class="contents">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <div class="table fixed">
    <div class="row m_u20">
      <div class="col resp_m_u10">
        <div class="th">名前 <span class="label alert">必須</span></div>
        <div class="td">
          <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
            <%= f.text_field :name, autofocus: true %>
        </div>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->


    <div class="row m_u20">
      <div class="col resp_m_u10">
        <div class="th">email <span class="label alert">必須</span></div>
        <div class="td">
          <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
            <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row m_u20">
      <div class="col resp_m_u10">
        <div class="th">パスワード <span class="label alert">必須</span></div>
        <div class="td">
          <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->


    <div class="row m_u20">
      <div class="col resp_m_u10">
        <div class="th">パスワードの確認 <span class="label alert">必須</span></div>
        <div class="td">
          <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->

    <div class="row m_u20">
      <div class="col resp_m_u10">
        <div class="th">現在のパスワード <span class="label alert">必須</span></div>
        <div class="td">
          <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->
  <div class="btns tc">
    <%= f.submit "Update", class: "btn green w30 center" %>
    <%= link_to "閉じる", admins_accounts_path, class: "btn default w30 center", target: '_parent' %></div>
  </div>
  <% end %>
</div>
