<% provide(:body_class, '')%>

<div class="wrapper">
  <section class="home">
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1>ホーム</h1>
      </div>
      <!-- / .title -->
    </div>
    <!-- / .sectionHeader -->
    <div class="contents">
      <div class="date"><span class="year"><%= @calender_day.year %></span>
        <!-- / .year -->
        <span>年</span> <span class="month"><%= @calender_day.month%></span>
        <!-- / .month -->
        <span>月</span></div>

      <table class="deco-tb calendar">
        <tr>
          <td>SUN</td>
          <td>MON</td>
          <td>TUE</td>
          <td>WED</td>
          <td>THU</td>
          <td>FRI</td>
          <td>SAT</td>
        </tr>

        <% day = @calender_day.beginning_of_month.beginning_of_week(:sunday) %>
        <% while day <= @calender_day.end_of_month %>
          <tr>
          <% (day..day.end_of_week(:sunday)).each do |d| %>
            <% if d.month != @calender_day.month %>
              <td></td>
            <% else %>
              <td><a href="#" class="<%= (d == @today) ? 'finished' : '' %>"><%= d.day %></a></td>
            <% end %>
          <% end %>
          </tr>
          <% day = day + 1.weeks %>
        <% end %>

      </table>
      <ul class="pagination">
        <li class="disabled"><%= link_to '«', home_index_path(year:@calender_day.prev_month.year, month: @calender_day.prev_month.month), rel:"prev", class: "prev" %></li>
        <li><%= link_to '»', home_index_path(year:@calender_day.next_month.year, month: @calender_day.next_month.month), rel:"next", class: "next" %></li>
      </ul>
      <!-- <div class="deco-box">
      </div> -->
      <!-- / .deco-box -->
    </div>
    <!-- / .contents -->
  </section>
  <!-- / section -->
</div>
<!-- / .wrapper -->
</body>