
<p id="notice"><%= notice %></p>


<script type="text/javascript">
$(document).ready(function() {
  $("a.open").fancybox({
    'width'       : '70%',
    'height'      : '70%',
    // 'minWidth'   : 1000,
    'minHeight'     : 400,
    'scrolling'     : 'yes', 
    'autoScale'     : false,
    /* 'transitionIn' : 'none',
    'transitionOut'   : 'none',*/
    'closeEffect'   : 'none',
    'hideOnOverlayClick': true,
    'hideOnContentClick': false,
    'type'        : 'iframe',
    helpers: {
      overlay: {
        speedIn: 0,
        speedOut: 0.01,
        closeClick: true
      },
    },
  });
});     
</script>


<div class="wrapper">
  <section class="list">
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1>顧客一覧</h1>
      </div>
      <div class="extra fl"><%= link_to '新規顧客追加', new_customer_path ,class: "btn addition open"  %></div>
      <div class="extra fl">
        <form class="form">
          <label class="display">
            <input type="checkbox" />
            無効も表示</label>
        </form>
      </div>
    </div>
    <div class="contents list">
      <table class="deco-tb fs4">
        <thead>
         <tr>
           <th class="w55">顧客名</th>
           <th class="w10">ステータス</th>
           <th class="w15">プロジェクト数</th>
           <th class="w10">編集</th>
           <th class="w10">削除</th>
         </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <% if customer.status %><td>有効</td><% else %><td>無効</td><% end %>
              <td><%= link_to 'Show', customer %></td>
              <td><%= link_to '編集', edit_customer_path(customer), class: "btn blue addition open"  %></td>
              <td><%= link_to '削除', customer, class: "btn red open", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @customers %>

    </div>
    <!-- / .contents.list -->
  </section>
  <!-- / section -->
</div>
