<a id="top"></a>
<div class="wrapper">
  <section>
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="contents">
      <%= form_for( form_for_arg_if_shallow(@customer, @customer_project), remote: true) do |f| %>
        <div class="error_messages">
          <%= render 'shared/error_messages', object: f.object %>
        </div>

        <div class="table fixed">
          <div class="row m_u10">
            <div class="col resp_m_u10">
              <div class="th">プロジェクト名<span class="label alert">必須</span></div>
                <%= f.text_field :name, class: "w100", id: "client"%>
            </div>
         </div>
          <div class="row m_u10">
            <div class="td">
              <div class="th">作業タイプ<span class="label alert">必須</span></div>
              <label for="valid" class="w100" >
                <%= f.radio_button :work_type, CustomerProject::WORK_TYPE_MAINTENANCE , id:"valid"%>
                保守
              </label>
              <label for="invalid" class="w100" >
                <%= f.radio_button :work_type, CustomerProject::WORK_TYPE_NEW , id:"invalid"%>
                新規
              </label>
            </div>
          </div>
          <div class="row m_u10">
            <div class="col resp_m_u10">
              <div class="th">工数<span class="label alert">必須</span></div>
                <%= f.text_field :work_days, class: "w15", id: "client"%>人日
            </div>
         </div>
        </div>
          <div class="btns tc">
            <%= f.submit '登録', class:"btn blue w30 center"%>
            <input type="button" class="btn default w30 center close-btn" value="閉じる">
          </div>
        </div>
      <% end %>

    </div>
  </section>
</div>






