
<section class="list">
  <div class="sectionHeader clearfix">
    <div class="title fl">
      <h1>ユーザー一覧</h1>
    </div>
    <!-- / .title -->
    <div class="extra fl"><%= link_to "新規プロジェクト追加", new_customer_customer_project_path, class: "btn addition open" %></div>
  </div>


  <ul>
      <% @customer_projects.each do |customer_project| %>
        <li>
          <p><%= customer_project.name %></p>
          <p><%= link_to 'Show', customer_project %></p>
          <p><%= link_to 'Edit', edit_customer_project_path(customer_project) %></p>
          <p><%= link_to 'Destroy', customer_project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <ul>
            <% customer_project.customer_project_works.each do |customer_project_work| %>
              <il><%= customer_project_work.name %></il>
            <% end %>
          </ul>
        </li>
      <% end %>
  </ul>

</section>




