<% provide(:body_class, 'edit') %>

<script>
$( function() {
  $(".sortableProject").sortable({
    handle: 'div.head',
  });
  $(".sortableProject").disableSelection({
    handle: 'div.head',
  }); 
  $(".sortable").sortable({
  });
  $(".sortable").disableSelection({
  }); 
} );
</script>
<section class="edit">
  <div class="sectionHeader clearfix">
    <div class="title fl">
      <h1>顧客管理</h1>
    </div>
    <!-- / .title -->
    <div class="extra fl"><%= link_to "新規プロジェクト追加", new_customer_customer_project_path, class: "btn addition open" %></div>
  </div>

  <div class="scroll">
    <div class="projectWrap sortableProject">
      <% @customer_projects.each  do |customer_project| %>
        <div class="projectOuter ">
          <div class="project">
            <div class="head"><a href="<%= edit_customer_project_path(customer_project) %>" class="open"><span class="icon-move"></span>
              <div class="name"><%= customer_project.name %></div>
              <span class="icon-edit"></span>
              <!-- / .icon-edit -->
            </a></div>
            <!-- / .head -->
            <ul class="sortable">
              <% customer_project.customer_project_works.each do |project_work|  %>
                <li><a href="<%= edit_customer_project_work_path(project_work) %>" class="open">
                  <div class="work"><%= project_work.name %></div>
                  <div class="price">&yen; <%= project_work.price %></div>
                </a></li>
              <% end %>
            </ul>
            <div class="bottom"> <a href="<%= new_customer_project_customer_project_work_path(customer_project) %>" class="open"><span class="icon-plus"></span> プロジェクトに追加</a></div>
            <!-- / .bottom -->
          </div>
          <!-- / .project -->
        </div>
        <!-- / .projectOuter -->
      <% end %>
    </div>
    <!-- / .projectWrap -->
  </div>
  <!-- / .scroll -->
</section>




