<div class="sectionHeader clearfix">
  <div class="title fl">
    <h1><%= title %></h1>
  </div>
</div>

<div class="contents">
  <%= form_for [:admins, @account], remote: true do |f| %>
    <div class="table fixed">
        <div class="error_messages">
          <%= render 'shared/error_messages', object: f.object %>
        </div>

        <div class="row m_u20">
          <div class="col resp_m_u10">
            <div class="th">名前 <span class="label alert">必須</span></div>
            <div class="td">
              <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
              <%= f.text_field :name, class: "w100" %>
            </div>
          </div>
          <!-- / .col -->
        </div>
        <!-- / .row -->
        <div class="row m_u20">
          <div class="col resp_m_u10">
            <div class="th">メールアドレス <span class="label alert">必須</span></div>
            <div class="td">
              <!-- <input value="" name="input" placeholder="example@ebase-sl.jp" class="w100" id="client" type="text"> -->
              <%= f.text_field :email, class: "w100" %>
            </div>
          </div>
          <!-- / .col -->
        </div>
        <!-- / .row -->
        <div class="row m_u20">
          <div class="col resp_m_u10">
            <div class="th">パスワード <span class="label alert">必須</span></div>
            <div class="td">
              <!-- <input value="" name="input" placeholder="" class="w100" id="client" type="text"> -->
              <%= f.password_field :password, class: "w100" %>
            </div>
          </div>
          <!-- / .col -->
        </div>
        <!-- / .row -->
        <div class="row m_u20">
          <div class="col resp_m_u10">
            <div class="th">権限 <span class="label alert">必須</span></div>
            <div class="td">
             <div class="selectWrap w100">
               <%= f.select(
                   :role,
                     {'試用期間' => Account::ROLE_TRIAL, '正社員' => Account::ROLE_EMPLOYEE, '管理者' => Account::ROLE_ADMIN},
                  #  { include_blank: "Please select one" },
                   { class: "form-control" }
               ) %>
            <!-- <select name="select">
              <option value="試用期間" selected="selected">試用期間</option>
              <option value="正社員">正社員</option>
              <option value="管理者">管理者</option>
            </select> -->
          </div>
            </div>
          </div>
          <!-- / .col -->
        </div>
        <!-- / .row -->
    </div>
    <!-- / .table fixed -->
    <div class="btns tc">
      <%= f.submit '登録', class:"btn blue w30 center"%>
      <input type="button" class="btn default w30 center close-btn" value="閉じる">
    </div>
  <% end %>
</div>
