  <section class="list">
    <div class="sectionHeader clearfix">
      <div class="title fl">
        <h1>ユーザー一覧</h1>
      </div>
      <!-- / .title -->
      <div class="extra fl"><%= link_to "新規ユーザー追加", new_admins_account_path, class: "btn addition open" %></div>
    </div>
    <!-- / .sectionHeader -->
    <div class="contents list">
      <table class="deco-tb fs4">
        <tr>
          <th class="w35">名前</th>
          <th class="w20">メールアドレス</th>
          <th class="w20">権限</th>
          <th class="w10">編集</th>
          <th class="w10">削除</th>
        </tr>

        <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.email %></td>
          <td><%= account.rolename %></td>
          <td><%= link_to edit_admins_account_path(account), class: "btn blue addition open" do %><span class="icon-edit"></span>編集<% end %></td>
          <td><%= link_to "削除", admins_account_path(account), method: 'delete', class: "btn red" %></td>
        </tr>
        <% end %>
      </table>
      <!-- / .deco-tb -->
    </div>
    <!-- / .contents.list -->
  </section>
  <!-- / section -->
