<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class ="list">
    <a id="top"></a>
    <header>
      <div class="inner clearfix">
        <div class="logo fl"><a href="#"><%= image_tag("logo.png", alt: "eBase Solutions Laboratory, Inc") %></a></div>
        <div class="fr">
          <div class="menuButton">
            <div class="menu-trigger">
              <div class="clearfix">
                <div class="label"></div>
                <!-- / .MENU -->
                <div class="hamburger"><span></span> <span></span> <span></span></div>
                <!-- / .hamburger -->
              </div>
              <!-- / .clearfix -->
            </div>
            <!-- / .menu-triger -->
          </div>
          <!-- / .menuButton -->
          <ul class="nav">
            <li><a href="work_experience.html">作業実績</a></li>
            <li><a href="password.html">パスワード変更</a></li>
            <li><a href="client_list.html">顧客管理</a></li>
            <li><a href="user_list.html">ユーザー管理</a></li>
            <li><a href="login.html">ログアウト</a></li>
          </ul>
          <!-- / .nav -->
        </div>
        <!-- / .fr -->
      </div>
      <!-- / .inner -->
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= debug(params) if Rails.env.development?%>
  </body>
</html>
