<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="shortcut icon" href="img/favicon.ico">
<meta name="description" content="">
<meta name="keywords" content="" lang="ja">
<title>ホーム | 業務実績管理システム</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class ="list">
    <a id="top"></a>
    <header>
      <div class="inner clearfix">
        <div class="logo fl"><a href="#"><%= image_tag("logo.png", alt: "eBase Solutions Laboratory, Inc") %></a></div>
        <div class="fr">
          <div class="menuButton">
            <div class="menu-trigger">
              <div class="clearfix">
                <div class="label"></div>
                <!-- / .MENU -->
                <div class="hamburger"><span></span> <span></span> <span></span></div>
                <!-- / .hamburger -->
              </div>
              <!-- / .clearfix -->
            </div>
            <!-- / .menu-triger -->
          </div>
          <!-- / .menuButton -->
          <ul class="nav">
            <li><a href="work_experience.html">作業実績</a></li>
            <li><a href="password.html">パスワード変更</a></li>
            <li><a href="client_list.html">顧客管理</a></li>
            <li><a href="user_list.html">ユーザー管理</a></li>
            <li><a href="login.html">ログアウト</a></li>
          </ul>
          <!-- / .nav -->
        </div>
        <!-- / .fr -->
      </div>
      <!-- / .inner -->
    </header>


<!-- <link rel="stylesheet" href="css/reset.css" type="text/css" >
<link rel="stylesheet" href="css/stylesheet.css" type="text/css" >
<link rel="stylesheet" href="css/style.css" type="text/css" >
<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" >
<link rel="stylesheet" href="css/jquery-ui.css" type="text/css" >
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script> -->
</head>
<body>
<a id="top"></a>
<header>
  <div class="inner clearfix">
    <div class="logo fl"><a href="#"><img src="/img/logo.png" alt="eBase Solutions Laboratory, Inc"></a></div>
    <div class="fr">
      <div class="menuButton">
        <div class="menu-trigger">
          <div class="clearfix">
            <div class="label"></div>
            <!-- / .MENU -->
            <div class="hamburger"><span></span> <span></span> <span></span></div>
            <!-- / .hamburger -->
          </div>
          <!-- / .clearfix -->
        </div>
        <!-- / .menu-triger -->
      </div>
      <!-- / .menuButton -->
      <ul class="nav">
        <% if account_signed_in? %>
          <li><a href="work_experience.html">作業実績</a></li>
          <li><a href="password.html">パスワード変更</a></li>
          <li><a href="client_list.html">顧客管理</a></li>
          <li><%= link_to "ユーザー管理", admins_accounts_path %></li>
          <li><%= link_to 'プロフィール変更', edit_account_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_account_session_path, method: :delete %></li>
        <% else %>
          <%= link_to 'ログイン', new_account_session_path %>
        <% end %>
      </ul>
      <!-- / .nav -->
    </div>
    <!-- / .fr -->
  </div>
  <!-- / .inner -->
</header>
<div class="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
<%= debug(params) if Rails.env.development? %>

</div>
<!-- / .wrapper -->
</body>
</html>
